<section class="container">
    <div class="jumbotron">
        <h1><i class="glyphicon glyphicon-thumbs-up"></i> Infused with essence.js</h1>

        <p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
        </p>
        <p>
            Take a look at the source to see how this site takes advantage of the essence.js <i>goodness</i>
        </p>
    </div>

    <div class="well">
        Not much to see at the moment. This is a bare-bones website with basic authentication.
    </div>
</section>